<h1>
	Add New Circle for <%= current_user.email %>
</h1>

<form action="/friend_circles" method="POST">
	<% User.all.each do |user| %>
		<% next if user == current_user %>

		<input type="checkbox" id="<%=user.email%>"
			name="circle[user_ids][]" value="<%=user.id%>">
		</input>

		<label for="<%=user.email%>">
			<%=user.email%>
		</label>
		</br>
	<% end %>

	<input type="submit" value="Add New Circle">
</form>
