<!DOCTYPE html>
<html>
<head>
  <title>SocialThingamajig</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:errors] %>

<%= yield %>

<%= button_to("Log out", "/session", :method => :delete)%>
</body>
</html>
